*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    text-decoration: none;
    color: #222;
}

a:hover{
    text-decoration: none;
    color: #b40a0a;
    padding: 15px;
}


header{
    height: 58px;
    background-color: #fff;
    display: flex;
    justify-content: left;
    padding: 0 15px;
}

header .header-brand{
    padding: 15px;
}

header nav{
    display: flex;
    justify-content: left;
}

header nav .hb1{
    padding: 15px;
    font-size: 20px;
    
}

header nav .hb1 a:hover{
    padding: 22px;
    background-color: #222;
    border-radius: 3px;
}

header nav .hb2{
  margin-top: 10px;
  margin-left: 300px;
}

header nav .hb2 a{
    color: rgb(40, 126, 155);
}


header nav .hb2 ul{
    list-style: none;
}

header nav .hb2 ul li{
    display: inline-block;
    padding: 10px;
    background-color: #772b2b;
    color: aqua;
    border-radius: 6px;
}

.container{
   width: 1200px;
   height: 800px;
   margin-top: 40px;
   margin-left: 350px; 
   background-color: rgba(36, 164, 207, 0.7);

   border-radius: 10px;
   display: grid;
   grid-template-columns: 400px 400px;
   column-gap: 100px;
   justify-content: space-evenly;
   align-content: center;
}

.container:hover{
    background-color: rgba(131, 180, 197, 0.7);
 }

.container-sign{
    padding: 20px;
    border-right: 5px solid rgb(5, 81, 79) ;
}

.container-sign input[type=text]{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box
}

.container-sign input[type=text]:focus {
    outline: none;
    border-bottom: 3px solid #e11a1a;
  }

.container-sign input[type=email]{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box
}

.container-sign input[type=password]{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px; /* reduce the border radius */
    box-sizing: border-box
}

.container-sign input[type=password]:focus {
    outline: none;
    border-bottom: 3px solid #e11a1a; /* increase the border width */
}


.container-sign [type=email]:focus {
    outline: none;
    border-bottom: 3px solid #e11a1a;
  }

  .container-sign input[type=number]{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box
}

.container-sign input[type=number]:focus {
    outline: none;
    border-bottom: 3px solid #e11a1a;
  }

  .container-sign input[type=file]{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box
}

.container-sign input[type=file]:focus, input[type=file]:hover {
    outline: none;
    border-bottom: 3px solid #e11a1a;
    cursor: pointer;
  }

  .submit{
    width: 100px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    border: none;
  }

  .submit:hover{
    width: 100px;
    height: 40px;
    background-color: #1ae163;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    outline: none;

  }

.container-log{
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(50, 54, 50);
}

.container-log input[type=text]{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box
}

.container-log input[type=text]:focus {
    outline: none;
    border-bottom: 3px solid #1ae163;
  }

  .container-log input[type=password]{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px; /* reduce the border radius */
    box-sizing: border-box
}

.container-log input[type=password]:focus {
    outline: none;
    border-bottom: 3px solid #e11a1a; /* increase the border width */
}




.container-log input[type=email]{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box
}

.container-log [type=email]:focus {
    outline: none;
    border-bottom: 3px solid #1ae163;
  }
